/* html {
background-color: #fff;
} */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

header {
    text-align: center;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

main p {
color: #fff;
}

.logo-img2 {
    max-width: 40%; /* Alterado para ocupar 100% da largura */
    height: auto;
    margin: 20px 0; /* Ajustado para 20px no topo e inferior, centralizando horizontalmente */
    align-items: center;
}


.back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #113d72;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.back-button img {
    width: 40px;
    margin-right: 5px;
}

.home-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #113d72;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.home-button img {
    width: 40px;
    margin-left: 5px;
}



/* Adicionando regras de mídia para tornar o layout responsivo em telas menores */

@media screen and (max-width: 600px) {
    .menu-button {
        width: 100%;
        margin: 10px 0;
    }

    .logo-img2 {
        max-width: 40%;
    }

    .back-button {
        bottom: 10px; /* Ajuste a posição inferior para telas menores */
        left: 10px; /* Ajuste a posição à esquerda para telas menores */
        padding: 8px; /* Reduza o padding para telas menores */
    }

    .back-button img {
        width: 30px; /* Ajuste o tamanho da imagem para telas menores */
    }

    .home-button {
        bottom: 10px; /* Ajuste a posição inferior para telas menores */
        right: 10px; /* Ajuste a posição à esquerda para telas menores */
        padding: 8px; /* Reduza o padding para telas menores */
    }

    .home-button img {
        width: 30px; /* Ajuste o tamanho da imagem para telas menores */
    }
}

#mensagem {
    text-align: center; /* Centraliza o conteúdo horizontalmente */
}

table {
    width: 100%;
    text-align: center;
    border-spacing: 10px;
}

td {
    padding: 10px;
}

p img{
    width: 30px; /* Defina a largura desejada */
    height: 30px; /* Defina a altura desejada */
    margin-right: 10px; /* Adicione um espaçamento à direita se necessário */
    vertical-align: middle;
    display: inline-block;
}