/* html{
    background: url(../img/fun01.jpg) no-repeat center center / cover
} */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    /* background: "../img/fun01.jpg"; */
}

header {
    text-align: center;
    padding: 20px;
    z-index: 1
}

img {
    max-width: 100%;
    height: auto;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    z-index: 1
}

main p {
color: #113d72;
font-size: larger;
}

.menu-button {
    width: 40%; /* Alterado para ocupar 100% da largura */
    padding: 30px; /* Reduzido o padding */
    margin: 40px 0; /* Reduzido o margin e ajustado para 20px no topo e inferior */
    text-align: center;
    background-color: #113d72;
    color: #fff;
    cursor: pointer;
    border-radius: 50px;
    /* border: 3px solid #fff; */
    font-weight: bold;
    font-size:x-large;
}

.qr-codes {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.qr-code {
    max-width: 30%; /* Defina o tamanho desejado para os QR codes */
}

.qr-code-left {
    order: 1; /* Ordem 1 para posicionar à esquerda */
}

.qr-code-right {
    order: 2; /* Ordem 2 para posicionar à direita */
}
.logo-img {
    max-width: 100%; /* Alterado para ocupar 100% da largura */
    height: auto;
    display: block;
    margin: 20px 0; /* Ajustado para 20px no topo e inferior, centralizando horizontalmente */
}


.back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #113d72;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    /* border: 2px solid #fff; */
}

.back-button img {
    width: 40px;
    margin-right: 5px;
}

.home-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #113d72;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    /* border: 2px solid #fff; */
}

.home-button img {
    width: 40px;
    margin-left: 5px;
}

/* CSS for responsive video */
.video-container {
    position: relative;
    padding-top: 30px;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    margin-top: 100px;
}

.video-container2 {
    width: 100%; /* ou qualquer valor que se ajuste bem entre o texto e os botões de voltar */
    margin: 20px auto; /* ou ajuste conforme necessário */
    padding-bottom: 93.25%; /* ou outra proporção para manter a relação de aspecto 16:9 */
    position: relative;
    overflow: hidden;
}

.video-container2 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}





/* Adicionando regras de mídia para tornar o layout responsivo em telas menores */

@media screen and (max-width: 600px) {
    .menu-button {
        width: 100%;
        margin: 10px 0;
    }

    .logo-img {
        max-width: 80%;
    }

    .back-button {
        bottom: 10px; /* Ajuste a posição inferior para telas menores */
        left: 10px; /* Ajuste a posição à esquerda para telas menores */
        padding: 8px; /* Reduza o padding para telas menores */
    }

    .back-button img {
        width: 30px; /* Ajuste o tamanho da imagem para telas menores */
    }


    .home-button {
        bottom: 10px; /* Ajuste a posição inferior para telas menores */
        right: 10px; /* Ajuste a posição à esquerda para telas menores */
        padding: 8px; /* Reduza o padding para telas menores */
    }

    .home-button img {
        width: 30px; /* Ajuste o tamanho da imagem para telas menores */
    }
}
