/* html{
    background: url(../img/fun01.jpg) no-repeat center center / cover
} */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    background: "../img/fun01.jpg";
}

header {
    text-align: center;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

main p {
color: #113d72;
}

.menu-button {
    width: 40%; /* Alterado para ocupar 100% da largura */
    padding: 30px; /* Reduzido o padding */
    margin: 40px 0; /* Reduzido o margin e ajustado para 20px no topo e inferior */
    text-align: center;
    background-color: #113d72;
    color: #fff;
    cursor: pointer;
    border-radius: 50px;
    /* border: 3px solid #fff; */
    font-weight: bold;
    font-size:x-large;
}

.qr-codes {
    display: flex;
    justify-content: space-between; /* Distribui os elementos igualmente no espaço disponível */
    margin-top: 20px;
}

.qr-code {
    max-width: 30%; /* Defina o tamanho desejado para os QR codes */
    margin: 0 10px; /* Adiciona um espaço entre os QR codes */
}

.logo-img {
    max-width: 100%; /* Alterado para ocupar 100% da largura */
    height: auto;
    display: block;
    margin: 20px 0; /* Ajustado para 20px no topo e inferior, centralizando horizontalmente */
}


.back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #113d72;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    /* border: 2px solid #fff; */
}

.back-button img {
    width: 40px;
    margin-right: 5px;
}

.home-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #113d72;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    /* border: 2px solid #fff; */
}

.home-button img {
    width: 40px;
    margin-left: 5px;
}

/* CSS for responsive video */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.video-container2 {
    position: relative;
    padding-bottom: 177.78%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}






/* Adicionando regras de mídia para tornar o layout responsivo em telas menores */

@media screen and (max-width: 600px) {
    .menu-button {
        width: 100%;
        margin: 10px 0;
    }

    .logo-img {
        max-width: 80%;
    }

    .back-button {
        bottom: 10px; /* Ajuste a posição inferior para telas menores */
        left: 10px; /* Ajuste a posição à esquerda para telas menores */
        padding: 8px; /* Reduza o padding para telas menores */
    }

    .back-button img {
        width: 30px; /* Ajuste o tamanho da imagem para telas menores */
    }


    .home-button {
        bottom: 10px; /* Ajuste a posição inferior para telas menores */
        right: 10px; /* Ajuste a posição à esquerda para telas menores */
        padding: 8px; /* Reduza o padding para telas menores */
    }

    .home-button img {
        width: 30px; /* Ajuste o tamanho da imagem para telas menores */
    }
}
