body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

#game-container {
    text-align: center;
    margin-bottom: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 5px;
}

.cell {
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#message {
    font-family: Arial, sans-serif;
    margin: 20px 0 0; /* Adicionando margem superior para separar da borda do game-container */
    padding: 0;
    position: relative;
    text-align: center; /* Alinha o texto no centro */
    color: #113d72;
    font-weight: bold;
}

#message img {
    width: 300px;
    display: block; /* Para centralizar a imagem */
    margin: 10px auto; /* Adiciona margem e centraliza horizontalmente */
}

#restartBtn {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px; /* Adiciona margem inferior ao botão */
}